{% extends 'index/header.html' %}
{% load static %}
{% block content %}

<main class="form-signin text-center">
    <form method="POST" action="{% url 'login' %}">{% csrf_token %}
        <h1 class="h3 mb-5 fw-normal" style="color: #4E3160">Chatbot</h1>

        <div class="form-group">
            {% for message in messages %}
            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    
        <div class="form-floating">
            {{ form.username }}
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            {{ form.password }}
            <label for="floatingPassword">Password</label>
        </div>
    
        <button class="w-100 btn btn-lg" type="submit" style="background: #4E3160; color: aliceblue;">Login</button>
    </form>
</main>

{% endblock %}